# App Information
APP_NAME = "Name of the App"
APP_DESCRIPTION = "Purpose of the chat bot."
APP_KEYWORDS = "AI, Chatbot, Artificial Intelligence"
WEBSITE = "https://website.com"


# API Keys
GROQ_API_KEY = "your secrete"
GROQ_MODEL = "llama-3.3-70b-versatile"

# Database Configuration
DB_HOST = "localhost"
DB_USER = "user"
DB_PASSWORD = "password"
DB_NAME = "db"